In [7]:
from lxml.html import fromstring
import requests
import pandas as pd
from IPython.display import Markdown



#LISTA DE CIDADES, NUMERO IDENTIFICADOR E URL DE ACESSO.
url = 'https://resultados.tre-rs.jus.br/eleicoes/2020/426/'
req = requests.get(url)
root = fromstring(req.text)
ul = root.xpath('.//ul[@id="main_ul"]')[0]
cities = []
for li in ul.xpath('.//li')[0:]:
    cities.append({
        'name': li.xpath('.//a')[0].text_content(),
        'href': li.xpath('.//a')[0].attrib['href'],
        'url': url + li.xpath('.//a')[0].attrib['href']
    })

# IMPRIMIR EM FORMATO DE TABELA AS INFORMAÇÕES DAS CIDADES
#display(pd.DataFrame(cities)) 

# VARRE TODAS AS CIDADES E VERIFICA OS ELEITOS
for index, city in enumerate(cities):
    url = cities[index]["url"]
    req = requests.get(url)
    root = fromstring(req.text)
    tables = root.xpath('.//table[@summary="Votação no município"]')
    h2_s = root.xpath('.//h2')
    data = []
    eleitos_class = ["lr_even eleito ", "eleito "]
    city = cities[index]["name"]
    for index,table in enumerate(tables):
        data.append({
            'city': city,
            'title': h2_s[index].text_content(),
            'values': []
        })
        for classe in eleitos_class:
            for tr in table.xpath(f'.//tr[@class="{classe}"]'):
                data[-1]['values'].append({ 
                'name': tr.xpath('.//a')[0].text_content(),
                'partido': tr.xpath('.//td')[3].text_content(),
                'votação': tr.xpath('.//td')[4].text_content()
            })
    
    # IMPRIMIR AS INFORMAÇÕES EM FORMATO DE TABELA
    for d in data:
        display(Markdown(f"# {d['city']}"))
        display(Markdown(f"## {d['title']}"))
        display(pd.DataFrame(d['values']))
        
#VARRE O SEGUNDO TURNO
url2 = 'https://resultados.tre-rs.jus.br/eleicoes/2020/427/'
req2 = requests.get(url2)
root = fromstring(req2.text)
ul = root.xpath('.//ul[@id="main_ul"]')[0]
cities2 = []
for li in ul.xpath('.//li')[0:]:
    cities2.append({
        'name': li.xpath('.//a')[0].text_content(),
        'href': li.xpath('.//a')[0].attrib['href'],
        'url2': url2 + li.xpath('.//a')[0].attrib['href']
    })
for index, city2 in enumerate(cities2):
    url2 = cities2[index]["url2"]
    req = requests.get(url2)
    root = fromstring(req.text)
    tables = root.xpath('.//table[@summary="Votação no município"]')
    h2_s = root.xpath('.//h2')
    data = []
    eleitos_class = ["lr_even eleito ", "eleito "]
    city2 = cities2[index]["name"]
    for index,table in enumerate(tables):
        data.append({
            'city': city2,
            'title': h2_s[index].text_content(),
            'values': []
        })
        for classe in eleitos_class:
            for tr in table.xpath(f'.//tr[@class="{classe}"]'):
                data[-1]['values'].append({ 
                'name': tr.xpath('.//a')[0].text_content(),
                'partido': tr.xpath('.//td')[3].text_content(),
                'votação': tr.xpath('.//td')[4].text_content()
            })
    
    # IMPRIMIR AS INFORMAÇÕES EM FORMATO DE TABELA
    for d in data:
        display(Markdown(f"# {d['city']} - SEGUNDO TURNO"))
        display(Markdown(f"## {d['title']}"))
        display(pd.DataFrame(d['values']))

# CANOAS - SEGUNDO TURNO

## Prefeito

                   name partido votação
0  JAIRO JORGE DA SILVA     PSD   82137

# CAXIAS DO SUL - SEGUNDO TURNO

## Prefeito

                      name partido votação
0  ADILÓ ANGELO DIDOMENICO    PSDB  136590

# PELOTAS - SEGUNDO TURNO

## Prefeito

                       name partido votação
0  PAULA SCHILD MASCARENHAS    PSDB  105206

# PORTO ALEGRE - SEGUNDO TURNO

## Prefeito

                       name partido votação
0  SEBASTIÃO DE ARAÚJO MELO     MDB  370550

# SANTA MARIA - SEGUNDO TURNO

## Prefeito

                        name partido votação
0  JORGE CLADISTONE POZZOBOM    PSDB   71927